.inactiveLink {
    pointer-events: none;
    cursor: default;
 }
h1{
    color: #000;
}
Header {
    /* background-color: #000000; */
    padding-bottom: 5%;
    padding-top: 2%;
}

body {
    /* background-color: #000000; */
    text-align: center;
    color: #fff;
    background-image: url(background.jpg);
}
.custom{
    color: rgb(0, 0, 0);
}

p {
    text-align: left;
}
.portateImg{
    height: 200px;
  width: 200px;
}
#AboutMe{
    padding-top: 1px;
    /* background-color: #000000; */
    color: #fffafa;

}
#Resume {
    padding-top: 5%;
    color: #fffafa;
    background-color: rgb(0, 0, 0, 0.5);
}
#Projects{
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: rgb(0, 0, 0, 0.5);
    color: #fffafa;

}
.project{
    border-style: solid;
    border-width: 5px;
    border-radius: 25px;
    width: 90%;
    margin: 0 auto;
    
    
}

#myCarousel > a.left.carousel-control{
    margin-left: -78px;
}

#myCarousel > a.right.carousel-control{
    margin-right: -78px;
}
.projectImg{
    text-align: center;
    height: 500px;
    
    margin-left: auto;
    margin-right: auto;
}
Footer{
    background-color: rgb(0, 0, 0);
    color: #fffafa;

}
/* TODO: FIX GRID SO ELEMENTS ARE IN CORRECT POSITION */
.gridjobs {
    display: grid; 
    grid-template-columns: 0.3fr 3.1fr 0.3fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 50px 0px; 
    grid-template-areas: 
      ". job1 ."
      ". job2 ."
      ". job3 ."; 
    padding-bottom: 50px;
  }
  
  .job1 { grid-area: job1;
          border-style: solid;
          border-color: #ffffff;
          border-radius: 25px;
          
          background-color: rgba(0, 0, 0, 0.733);
        }
  .job2 { grid-area: job2;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 25px; 
    background-color: rgba(0, 0, 0, 0.733);
}
  .job3 { grid-area: job3;
    border-style: solid;
    border-color: #ffffff; 
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.733);
}
 


#dropdown{
    color: #000;
}
#demo{
    text-align: left;
}

#more {display: none;}

